.whyPayezyContainer {
  display: flex;
  margin-left: 162px;
  align-items: center;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    margin-left: 0;
  }
}
.whyPayezyMob {
  color: var(--white, var(--linear-stroke-of-blug-bg, #fff));
  text-align: center;
  font-family: Michroma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 3px;
  border-bottom: 1px solid #0595b6;
}
.whyPayezy {
  color: #e6e6e6;
  font-family: Michroma;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 72px */
  width: 510px;

  @media screen and (min-width: 1300px) and (max-width: 1465px) {
    width: 434px;
    font-size: 36px;
  }
  @media screen and (min-width: 1250px) and (max-width: 1341px) {
    width: 350px;
    font-size: 34px;
  }
  @media screen and (min-width: 1150px) and (max-width: 1296px) {
    width: 280px;
    font-size: 26px;
  }
  @media screen and (min-width: 992px) and (max-width: 1151px) {
    width: 260px;
    font-size: 21px;
  }
  @media screen and (max-width: 992px) {
    width: auto;
    color: #e6e6e6;

    font-family: Michroma;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 35.2px */
    text-align: center;
  }
}
.comparisonMob {
  font-family: Metrophobic;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 160%; /* 33.6px */
  background: var(
    --blue-linear-membervouch,
    linear-gradient(
      106deg,
      #05d2ff 38.97%,
      rgba(37, 63, 224, 0.62) 107.51%,
      rgba(6, 14, 208, 0.28) 151.44%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}
.features {
  font-family: Metrophobic;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;

  line-height: 160%; /* 33.6px */
  background: var(
    --blue-linear-membervouch,
    linear-gradient(
      106deg,
      #05d2ff 38.97%,
      rgba(37, 63, 224, 0.62) 107.51%,
      rgba(6, 14, 208, 0.28) 151.44%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 123px;
  margin-bottom: -14px;
  border-bottom: 1px solid #0595b6;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.lineContainer {
  width: 62%;
  border-bottom: 1px solid #0595b6;
  margin-bottom: -48px;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.feauturesContainer {
  margin-left: 162px;
  display: flex;
  justify-content: space-between;
  margin-right: 122px;
  margin-top: 48px;
  margin-bottom: 313px;
  border-radius: 10px;
  padding: 22px 93px 33px 73px;
  background: linear-gradient(180deg, #232532 3.57%, #131521 103.57%);
  @media screen and (max-width: 1275px) and (min-width: 1196px) {
    padding: 22px 43px 33px 43px;
  }
  @media screen and (max-width: 1195px) and (min-width: 990px) {
    padding: 22px 23px 33px 23px;
  }

  // @media screen and (max-width: 992px) {
  //   flex-direction: column;
  //   margin-right: 20px;
  //   align-items: center;
  //   margin-left: 20px;
  //   margin-top: 28px;
  //   margin-bottom: 181px;
  //   gap: 40px;
  // }
}

.feauturesSubContainer {
  border-radius: 5px;
}

.providerContainer,
.exchangeRateContainer,
.transferFeeContainer {
  display: flex;
  flex-direction: column;
}
.exchangeRateContainer,
.transferFeeContainer {
  gap: 10px;
}

.heading,
.transferFeeheading {
  color: var(--Light-Blue-New-Payezy, #a1e6f6);

  // text-align: center;
  font-family: Metrophobic;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 25.515px */
}
.transferFeeheading {
  margin-bottom: 23px;
}
.payezyImages {
  width: 140px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 38px;
}
.westernUnionImages {
  margin-bottom: 52px;
  width: 95px;
  height: 22px;
}
.wiseImage {
  width: 102.865px;
  height: 23.289px;
  margin-bottom: 40px;
}
.remitlyImage {
  width: 112.123px;
  height: 30px;
  margin-bottom: 39px;
}
.xoomIcon {
  width: 92px;
  height: 30.141px;
  margin-bottom: 31px;
}
.instaRoom {
  width: 108.3px;
  height: 19.001px;
}
.USDToINR {
  color: #b4b4b4;
  text-align: center;
  font-family: Metrophobic;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 17.01px */
}
.exchangeRateValuesPayezy {
  color: var(--Light-Blue-New-Payezy, #a1e6f6);
  text-align: center;
  font-family: Metrophobic;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 21.87px */
}
.exchangeRateValues {
  color: #e6e6e6;
  text-align: center;
  font-family: Metrophobic;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 21.87px */
}
.toolTipIcon {
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: -2px;
}
.toolTipIconImage {
  margin-left: 8px;
  margin-bottom: -2px;
}
.toolTipStyle {
  border-radius: 8px;
  background: #384455;
  width: 188px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  font-family: "metrophobic";
}
.toolTipStyleTrueValue {
  border-radius: 8px;
  background: #384455;
  width: 190px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;
  text-align: justify;
  padding: 10px 10px 10px 10px;
  font-family: "metrophobic";
}
.exchangeRateValues p,
.exchangeRateValuesPayezy p {
  text-align: left;
}
.liveGoogleRate {
  color: var(--linear-stroke-of-blug-bg, #fff);
  text-align: center;
  font-family: Metrophobic;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 15.795px */
  margin-bottom: 16px;
}
.priceComaprisonContainer {
  background: linear-gradient(180deg, #232532 3.57%, #131521 103.57%);
  padding: 16px 8px 251px 19px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 170px;
}

.exchangeRateInMob,
.recipientGetsInMob,
.exchangeRateNotPayezyInMob {
  color: var(--Light-Blue-New-Payezy, #a1e6f6);
  font-family: Metrophobic;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 18.225px */
}
.exchangeRateNotPayezyInMob {
  color: #fff;
}
.recipientGetsInMob {
  margin-top: 30px;
}
.USDToINRInamob {
  color: #b4b4b4;

  font-family: Metrophobic;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 13.365px */
}
.priceComparisonSubContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.transferRateInMob {
  color: var(--Light-Blue-New-Payezy, #a1e6f6);

  font-family: Metrophobic;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 18.225px */
  margin-bottom: 42px;
}
.payezyImageMob {
  width: 94.037px;
  height: 16.002px;
}
.payezyImageMobContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}
.wiseLyImageMob {
  width: 80.868px;
  height: 18.308px;
}
.westernUnionImageMob {
  width: 83px;
  height: 19px;
}
.trueRateInMob {
  color: var(--Light-Blue-New-Payezy, #a1e6f6);
  font-family: Metrophobic;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%; /* 18.225px */
  margin-top: 30px;
}
.priceDifference {
  color: #fd5252;
  margin-left: 8px;
}
.downArrow {
  width: 10px;
  height: 10px;
}
.priceDiffContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 147px;
  margin-left: -90px;
  margin-right: 40px;
}
