.FAQText {
  color: var(--white, #fff);
  font-family: Michroma;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-left: -162px;
  margin-bottom: 63px;
  @media screen and (max-width: 992px) {
    font-size: 22px;
    margin: 0;
  }
}
.FAQSectionBackground {
  position: relative;
  z-index: 3;
}
.FAQSection {
  position: relative;
  z-index: 3;
  color: #fff;
  font-family: Metrophobic;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 21px */
  width: 769px;
  margin-bottom: 300px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 992px) {
    font-size: 12px;
    width: auto;
    margin-bottom: 150px;
  }
}
.description {
  display: block;
  width: 730px;
  background: linear-gradient(180deg, #22242f 3.57%, #141622 103.57%);
  padding: 19px 20px;
  margin-top: 13px;
  margin-bottom: 14px;
  animation: fadeIn 2s ease-out forwards; /* Apply fadeIn animation with 1 second duration */
  border-radius: 5px;
  @media screen and (max-width: 992px) {
    width: auto;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0; /* Start from fully transparent */
  }
  to {
    opacity: 1; /* End at fully opaque */
  }
}
.FAQHeading {
  display: flex;
  justify-content: space-between;
  z-index: 4;
  padding-top: 27px;
  padding-bottom: 12px;
  border-bottom: 1px solid #434343;
}

// .FAQArrowOne {
//   margin-left: 435px;
//   @media screen and (max-width: 992px) {
//     margin-left: 138px;
//   }
// }
// .FAQArrowTwo {
//   margin-left: 279px;
//   @media screen and (max-width: 992px) {
//     margin-left: 49px;
//   }
// }
// .FAQArrowThree {
//   margin-left: 440px;
//   @media screen and (max-width: 992px) {
//     margin-left: 10px;
//   }
// }
// .FAQArrowFour {
//   margin-left: 441px;
//   @media screen and (max-width: 992px) {
//     margin-left: 140px;
//   }
// }
// .FAQArrowFive {
//   margin-left: 174px;
//   @media screen and (max-width: 992px) {
//     margin-left: -12px;
//   }
// }
// .FAQArrowSeven {
//   margin-left: 283px;
//   @media screen and (max-width: 992px) {
//     margin-left: 48px;
//   }
// }
// .FAQArrowSix {
//   margin-left: 491px;
//   @media screen and (max-width: 992px) {
//     margin-left: 168px;
//   }
// }
.FAQSectionBackgroundContainer {
  position: absolute;
  top: 2px;
  right: -57px;
  border-radius: 50%;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.FAQHeading {
  cursor: pointer;
  transition: opacity 0.6s ease; /* Add a transition for opacity */
  opacity: 1; /* Initially set opacity to 1 */
  @media screen and (max-width: 992px) {
    cursor: none;
  }
}

.FAQHeading.closed {
  opacity: 0.8; /* Set opacity to 0 when closed */
  pointer-events: none; /* Disable pointer events when closed */
}
.FAQMainContainer {
  position: relative;
  margin-top: -87px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (max-width: 992px) {
    margin-top: 100px;
  }
}
.FAQDescription {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease, max-height 0.6s ease;
}

.FAQDescription.open {
  opacity: 1;
  max-height: 1000px; /* Adjust this value to fit your content */
}
.FAQDescription {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease, max-height 1s ease; /* Adjust transition duration */
}

.FAQDescription.open {
  opacity: 1;
  max-height: 1000px; /* Adjust this value to fit your content */
}
