.joinTheWaitlistText {
  color: white;
  font-family: Metrophobic;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.5%;
}
.inputAmount {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 15px;
  padding-bottom: 10px;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  padding: 16px 21px;
  border: none;
  @media screen and (max-width: 992px) {
    font-size: 12px;
    width: 96%;
    padding: 10px;
    padding-left: 15px;
  }
}
.inputAmountMob {
  font-size: 16px;
  line-height: 31px;
}

.inputAmount::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  color: #99b2c6;
  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 30px;
  }
}
.confirmButton,
.cancelButton {
  font-family: "Metrophobic";
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  padding: 7px 0px;
  border: 0.3px solid #212c3d;
  background: linear-gradient(180deg, #212c3d 0%, #101d2e 100%);
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
}
.confirmButton {
  @media screen and (max-width: 992px) {
    font-size: 18px;
    padding: 7px 0px;
    width: 50%;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.cancelButton {
  padding: 7px 0px;
  @media screen and (max-width: 992px) {
    font-size: 18px;
    padding: 7px 0px;
    width: 50%;
    margin-left: 0px;
  }
}
.confirmButton:hover {
  color: #05d2ff;
}
.buttonContainer {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.cancelButton:hover {
  color: #fd5252;
}
.error {
  color: #fd5252;
  padding-bottom: 20px;
  font-family: "Metrophobic";
  font-weight: 400;
  font-size: 21px;
  margin-top: 10;
  margin-bottom: 0;
  @media screen and (max-width: 992px) {
    font-size: 15px;
  }
}
.succesfullMessage {
  color: #a1e6f6;
  padding-bottom: 20px;
  font-family: "Metrophobic";
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (max-width: 992px) {
    margin-left: 2px;
    font-size: 15px;
    text-align: center;
  }
}
.notetext {
  color: #f9b959;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Metrophobic";
  font-weight: 400;
  font-size: 21px;
  @media screen and (max-width: 992px) {
    font-size: 15px;
  }
}
.joinWaitlistText {
  padding-bottom: 41px;
  text-align: center;
  color: #a1e6f6;
  text-align: center;
  font-family: Michroma;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 20px;
  margin-right: 20px;
  @media screen and (max-width: 992px) {
    font-size: 21px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.imageConatiner {
  display: flex;
  justify-content: center;
}
.emailText {
  color: #99b2c6;
  font-family: Metrophobic;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 15px;
}
.emailContainer {
  border: 1px solid #a1e6f6;
  border-radius: 5px;
}
.paymentVerificationDiv {
  margin: 60px auto;
}

.loaderList {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.loaderList li {
  display: block;
}
.loaderCircle span {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  height: 32px;
  width: 32px;
  @media screen and (max-width: 992px) {
    right: 10px;
  }
}
.loaderCircle span::before,
.loaderCircle span::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  height: 50px;
  width: 50px;
  border: 3px solid #a1e6f6;
  border-radius: 50%;
  opacity: 0;
  animation: loader-6-1 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.loaderCircleMob span::before,
.loaderCircleMob span::after {
  height: 40px;
  width: 40px;
}

@keyframes loader-6-1 {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
    opacity: 0;
  }
}
.loaderCircle span::after {
  -webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s
    infinite;
  animation: loader-6-2 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s infinite;
}
@keyframes loader-6-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 0;
  }
}
.verifyingContent {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-family: "Metrophobic";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.verifyingContentMob {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.paymentError {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fd5252;
  margin-top: 10px;
  text-align: center;
}
